@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'quicksand';
    margin: 0;
    padding: 0;
}

/* general re-use component */
.red-button{
    background-color: #E48888;
    padding: 0.5vw, 2vw, 0.5vw, 2vw;
    width: 10vw;
    height: 3vw;
    border: 0;
}
.blue-button{
    background: #2FD0DA;
    padding: 0.5vw, 2vw, 0.5vw, 2vw;
    width: 10vw;
    height: 3vw;
    border: 0;
}
.yellow-button{
  background: #FAF7B9;
  padding: 0.5vw, 2vw, 0.5vw, 2vw;
  width: 10vw;
  height: 3vw;
  border: 0;
}
.dot{
    height: 35px;
    width: 35px;
    background: rgba(47, 208, 218, 0.35);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2vw;
}
.blue{
    background: #C3ECF9;
}
.red{
    background: #FFAEAE;
}
.yellow{
    background: #FAF7B9;
}
/* landing container */
.landing-container{
    height: 100vh;
}
.main-col{
    padding-top: 5vw;
}
.social-media-container{
    display: flex;
    justify-content: space-around;
}
.social-media-container svg{
    height: 2vw;
    width: 2vw;
}
.landing-container-arrowdown svg{
    height: 3vw;
    width: 3vw;
    margin-top: -3vw;
}
.landing-container-arrowdown{
    display: flex;
    justify-content: space-around;
    margin-top: -3vw;
}


.landing-container-image-1{
    height: 30vh;
}
.landing-container-image-1 img{
    width: 100%;
    height: 30vh;
}

.landing-container-buttons{
    display: flex;
    justify-content: center;
}

/* about us container */
.navbar{
    display: flex;
    flex-direction: column;
}
.about-us-container{
    margin-top: 10vw;
    height: 95vh;
}
.about-us-container-img img{
    height: 90vh;
    width: 45vw;
}

/* why choose us container */
.choose-card{
    height: 60vh;
    width: 25vw;
}

.choose-card img{
    height: 30vh;
    width: 100%
}
.choose-card-content{
    padding: 3vw;
}

/* footer */
.footer{
    margin-top: 3vw;
}
.landing-container-image-2 img{
    width: 90%;
    height: 40vh;
}
.landing-container-image-2{
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: center;
}

/* navbar */

.card{
  max-width: 300px;
}
/* project's list */
H3{
    margin-top: 2vw;
}
.project{
    height: 5vh;
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
}


.project-list{
    padding-top: 1vw;
    text-align: center;
    padding-right: 2vw;
    height: 100vh;
}
.addProjectBtn{
    width: 100%;
    background-color: #C3ECF9;
    border: 0;
}
.addProjectBtn:hover{
    font-weight: bold;
    background-color: #2FD0DA;
}

.display-task{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding-top: 1vw;
    padding-left: 2vw;
}
.card{
    /* height: 30%; */
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.card-body1 button{
    border: 0;
    display: flex;
    flex-direction: row;
    font-size: small;
    padding: 3px;
}
.card-body1{
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* calendar  */
:root {
    --primary-clr: #E48888;
  }
  /* nice scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 50px;
  }

  .calendar {
    position: relative;
    top: 50px;
    width: 100%;
    height: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #fff;
  }
  /* set after behind the main element */
  .calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
  }
  .calendar .month {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .calendar .month .prev,
  .calendar .month .next {
    cursor: pointer;
  }
  .calendar .month .prev:hover,
  .calendar .month .next:hover {
    color: var(--primary-clr);
  }
  .calendar .weekdays {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .weekdays div {
    width: 14.28%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(7n) {
    border-right: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #f5f5f5;
  }
  
  .calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .days .prev-date,
  .calendar .days .next-date {
    color: #b3b3b3;
  }
  .calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
  }
  .calendar .days .today {
    font-size: 2rem;
  }
  .calendar .days .event {
    position: relative;
  }
  .calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
  }
  .calendar .days .day:hover.event::after {
    background-color: #fff;
  }
  .calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
  }
  .calendar .days .active.event {
    padding-bottom: 10px;
  }
  .calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
  }
  .calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
  }
  .calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
  }
  .calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
  }
  .calendar .goto-today button:hover {
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
  }
  .container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
  }
  
  .right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
  }
  .right .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #878895;
  }
  .events {
    width: 100%;
    height: 400px;
    /* display: flex; */
    /* flex-direction: row; */
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 4px;
    margin-top: 35px;
  }
  .events .event {
    /* display: flex;
    flex-direction: row; */
    display: flex;
    /* margin-left: 10px; */
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    gap: 5px;
    color: #373c4f;
    background: #C3ECF9;
    cursor: pointer;
  }
  /* even event */
  .events .event:nth-child(even) {
    background: #FAF7B9;
  }
  .events .event:hover {
    background: #2FD0DA;
  }
  .events .event .title {
    pointer-events: none;
    position: absolute;
    margin-bottom: 25px;
  }
  .events .event .title .event-title {
    font-size: 1rem;
    font-weight: 800;
    margin-left: 8px;
  }
  .events .event i {
    color: var(--primary-clr);
    font-size: 0.5rem;
  }
  .events .event:hover i {
    color: #fff;
  }
  .events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #878895;
    margin-left: 10px;
    pointer-events: none;
    margin-top: 12px;
  }
  .events .event:hover .event-time {
    color: #fff;
  }
  /* add tick in event after */
  .events .event::after {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--primary-clr);
    transform: translateY(-50%);
  }
  .events .event:hover::after {
    display: flex;
  }
  .add-event {
    position: absolute;
    background-color: #C3ECF9;
    top: 80px;
    right: 30px;
    width: 230px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border: 0.5px solid #C3ECF9;
    border-radius: 10px;
    opacity: 0.5;
    cursor: pointer;
  }
  .add-event:hover {
    opacity: 1;
  }
  .add-event i {
    pointer-events: none;
  }
  .events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #878895;
  }
  .add-event-wrapper {
    position: absolute;
    border: 0;
    top: 130px;
    margin-left: 18.6vw;
    width: 38%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
    border-radius: 20px;
  }
  .add-event-wrapper.active {
    max-height: 300px;
    border: solid black 0.5px;
  }
  .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #373c4f;
    border-bottom: 1px solid #f5f5f5;
  }
  .add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .add-event-header .close:hover {
    color: var(--primary-clr);
  }
  .add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
  }
  .add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .add-event-body .add-event-input input {
    width: 500%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #373c4f;
  }
  .add-event-body .add-event-input input::placeholder {
    color: #a5a5a5;
  }
  .add-event-body .add-event-input input:focus {
    border-bottom: 1px solid var(--primary-clr);
  }
  .add-event-body .add-event-input input:focus::placeholder {
    color: var(--primary-clr);
  }
  .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .add-event-footer .add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
  }
  .add-event-footer .add-event-btn:hover {
    background-color: transparent;
    color: var(--primary-clr);
  }
  
  /* media queries */
  
  /* @media screen and (max-width: 1000px) {
    body {
      align-items: flex-start;
      justify-content: flex-start;
    }
    .container {
      min-height: 100vh;
      flex-direction: column;
      border-radius: 0;
    }
    .container .left {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .container .right {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .calendar::before,
    .calendar::after {
      top: 100%;
      left: 50%;
      width: 97%;
      height: 12px;
      border-radius: 0 0 5px 5px;
      transform: translateX(-50%);
    }
    .calendar::before {
      width: 94%;
      top: calc(100% + 12px);
    }
    .events {
      padding-bottom: 340px;
    }
    .add-event-wrapper {
      bottom: 100px;
    }
  } */
  @media screen {
    .calendar .month {
      height: 50px;
    }
    .calendar .weekdays {
      height: 50px;
    }
    .calendar .days .day {
      height: 40px;
      font-size: 0.8rem;
    }
    .calendar .days .day.active,
    .calendar .days .day.today {
      font-size: 1rem;
    }
    .right .today-date {
      padding: 20px;
    }
  }


/* navbar
.navbar{
    background-color: #E48888;
    width: 20vw;
    height: 100vh;
    justify-content: center;

}

.logo-container{
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-container img{
    width: 70%;
    height: 70%;
    border-radius: 20px;
}

.NAVBAR{
    width: 100%;
    height: 4vw;
    padding-left: 2vw;
    margin:0px;
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    background-color: #FFAEAE;
    padding-top: 1vw;
    padding-bottom: 1vw;

}
.NAVBAR h3{
    font-size: 1.5vw;
}
.NAVBAR input{
    background-color: #FFAEAE;
    border: 0px;
    border-bottom: solid black 1px;
    padding: 0.5vw;
    width: 100%;
}
.NAVBAR svg{
    height: 100%;
    width: 100%;
}

.choosen{
    font-weight: bold;
    background-color: #FF6262;
}
.quote-of-the-day{
    width: 100%;
    padding-left: 2vw;
    margin:0px;
    border: black 1px solid;
    position: absolute;
    bottom:0;
    display: flex;
    flex-direction: row;
    background-color: #FFAEAE;
    padding-right: 2vw;
    padding-top: 0.5vw;
}

#quotation{
    height: 12vh;
}

/* circle menu bar */
/* .circle-menu-bar{
    position: absolute;
    top:0;
    right:0;
    height: 13vh;
    width: 80vw;
    background-color: #C3ECF9;
    padding: 0.7vw;
    padding-left: 2vw;
    font-size: 0.5vw;
    display: flex;
    justify-content: space-between;
}

.day-detailed{
    display: flex;
}
.day-components{
    display: flex;
    flex-direction: row;
}
.day-components h5{
    margin: 0.5vw;
}

.account-container{
    font-size: 0.5vw;
    padding: 1vw;
    padding-right: 2vw;
}

/* favourite/search container 80vw, 87vh*/
/* .favourite-container{
    height: 87vh;
    width: 80vw;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;

}
.decorative-container{
    background-color: #C3ECF9;
    position: absolute;
    height: 30vw;
    margin-top: 8vw;
    width: 100%;
    z-index: 0;
}
.favourite-content-container{
    padding: 1vw;
    background-color: #FFFFFF;
    z-index: 1;
    border: solid 1px black;
    width: 85%;
    position: absolute;
    bottom: 0;
    height: 85vh;
}
.assignment-container{
    height: 60%;
}
.event-container{
    height: 30%;
}

/* Load Event Page */
/* .event-attachment-links{
    height: 100%;
    background-color: #D9D9D9;
    margin-right: 0.5vw;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-top:1vw;
    bottom: 0;
}
.comments-ideas-dump{
    bottom:0;
    height: 58vh;
    background-color: #D9D9D9;
    margin-right: 3vw;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-top:1vw;
    bottom: 0;
    margin-top: 2vw;

} */

/* Load Task Page */
/* .square{
    width: 1vw;
    height: 1vw;
    background-color: #2FD0DA;
}
.task-sub-tasks{
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 42%;
    background-color: #D9D9D9;
    margin-right: 0.5vw;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top:1vw;
    bottom: 0;
}
.task-sub-tasks button{
    border: 0;
    width: 100%;
    background-color: #C3ECF9;
    text-align: center;
    height: 2.5vw;
    font-weight: bold;
}
.task-attachments-links{
    height: 100%;
    width: 88%;
    margin-top: 1vw;
    background-color: #D9D9D9;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top:1vw;
    bottom: 0;
}
.task-comments-ideas-dump{
    position: absolute;
    bottom: 0;
    width: 42%;
    height: 50%;
    background-color: #D9D9D9;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top:1vw;
    bottom: 0;
} */ 
