<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="/LandingPage.css">
</head>
<body>


    <div class="favourite-container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-1">
                            <span style="background-color: #FAF7B9;" class="dot"></span>
                        </div>
                        <div class="col-11">
                            <h3>TASK/DO-DO-LISTS</h3>
                            <div class="event-description">
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat risus magna, a condimentum risus aliquam at. Duis tempus velit.</P>
                            </div>
                           <div class="task-sub-tasks">
                                <h5>SUB-TASKS</h5>
                                <div class="sub-task">
                                    <div class="row">
                                        <div class="col-1">
                                            <div class="square" style="background-color: aqua;"></div>
                                        </div>
                                        <div class="col-11"><h6>SUB TASK #1</h6></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1">
                                            <div class="square" style="background-color: aqua;"></div>
                                        </div>
                                        <div class="col-11"><h6>SUB TASK #1</h6></div>
                                    </div>
                                    <button>ADD SUB-TASK</button>
                                </div>

                           </div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div style="height: 4vh" class="row">
                        <div style="padding-top: 0.5vw; justify-content: center;  align-items: center; display: flex" class="col-1">
                            <span style="height: 15px; width: 15px; background-color: #000000;" class="dot"></span>
                        </div>
                        <div class="col-11">
                            LOREM IPSUM
                        </div>
                    </div>
                    <div style="height: 4vh;" class="row">
                        <div style="padding-top: 0.5vw; justify-content: center;  align-items: center; display: flex" class="col-1">
                            <span style="height: 15px; width: 15px; background-color: #000000;" class="dot"></span>
                        </div>
                        <div class="col-11">
                            LOREM IPSUM
                        </div>
                    </div>
                    <div style="height: 4vh;" class="row">
                        <div style="padding-top: 0.5vw; justify-content: center;  align-items: center; display: flex" class="col-1">
                            <span style="height: 15px; width: 15px; background-color: #000000;" class="dot"></span>
                        </div>
                        <div class="col-11">
                            LOREM IPSUM
                        </div>
                    </div>
                    <div style="height: 4vh;" class="row">
                        <div style="padding-top: 0.5vw; justify-content: center;  align-items: center; display: flex" class="col-1">
                            <span style="height: 15px; width: 15px; background-color: #000000;" class="dot"></span>
                        </div>
                        <div class="col-11">
                            LOREM IPSUM
                        </div>
                    </div>
                    

                    <div class="task-attachments-links">
                        <h5>ATTACHMENTS OR LINKS</h5>
                    </div>
                    <div class="task-comments-ideas-dump">
                        <h5>COMMENTS OR IDEA DUMPS</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>